@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Doto:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Space+Grotesk:wght@300..700&family=Stack+Sans+Text:wght@200..700&display=swap');
@import "tailwindcss";

@theme {
  --font-doto: "Doto", sans-serif;
  --font-nunito: "Nunito", sans-serif;
}

@theme {
  --color-nav-link: #8E8E93;
  --color-nav-link-hover: #FCFCFC;
}

@theme {
  --color-primary: #FCFCFC;
  --color-secondary: #2997ff;
  --color-secondary-hover: #007aff;
  --color-tertiary: #8E8E93;
}